body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
} 
.sidebar{  
    float: right;
    width: 300px; 
    background: white;  
    border-left-style: solid;
}  
.box{
  margin: 3px;
  border: 1px solid;
  border-radius: 4px;
}
.box_center{
  text-align: center;
}

.item{
	width: 100px;
	height: 68px;
	margin: auto;
	margin-top: 5px;
	padding: 0px;
	border: 3px solid;
	border-radius: 10px;
	text-align: center;
	display: table-cell;
  vertical-align: middle
}
.item:hover{
	background-color: #108EE9
}

.scene{
  position: absolute;
  cursor:crosshair
}


.sceneback{
  background-color: #F0FFFF;
}

/*
	Sidebar
*/

.bm-menu h1 {
  padding: 1em 0em 0em 0em;
  color: #108EE9;
}

.bm-item-list > a{
  padding: 0em 0em 0em 0.5em;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bdc3c7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  overflow: auto;
}
.bm-menu a {
  font-size: 18px;
  line-height: 50px;
  color: #b8b7ad;
  text-decoration: none;
}
.bm-menu a:hover,
.bm-menu a:focus {
  color: #108EE9;
}

#slide .bm-menu,
#stack .bm-menu {
  padding: 0em 0em 0;
  font-size: 1.15em;
}

#slide .bm-cross,
#stack .bm-cross {
  background: #bdc3c7;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0em 0em 0em 1em;
  overflow: hidden;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

